:root {
  /* ##Colors */
  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);
  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 55%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sidebar {
  width: 30%;
  background-image: url(/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 15px;
  margin: 15px;
  border-radius: 10px;
  color: #fff;
}

.step {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.step-number {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  margin-right: 15px;
}

.step-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.number-label {
  font-size: 12px;
  font-weight: 300;
  color: var(--Pastelblue);
}

.active .step-number {
  color: #333;
  background-color: #6ddfd0;
  border: none;
}

.active .step-label {
  font-weight: bold;
}

/* Decorative elements */
.sidebar:before,
.sidebar:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.sidebar:before {
  width: 100px;
  height: 100px;
  background-color: #ff7f4f; /* Bottom decoration color */
  bottom: 0;
  left: -30px;
}

.sidebar:after {
  width: 70px;
  height: 70px;
  background-color: #fccc63; /* Top decoration color */
  top: -20px;
  right: -20px;
}

.form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  margin-left: -15px;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 12px;
  font-size: 14px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none; 
  border: 1px solid #ddd;
}

input[type="email"]:focus {
  outline: none;
  border: 1px solid #5856d6;
}

input[type="tel"]:focus {
  outline: none;
  border: 1px solid #ff6b6b !important;
}




.error {
  color: #ff6b6b;
  font-size: 13px;
  margin-left:44%;
  font-weight: bold;
} 

.error-message label{
margin-bottom: 15px;
}


button {
  background-color:var(--Marineblue);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
  align-self: flex-end;
  margin-top: 50px;
  font-family: "Karla";
}

button:hover {
  background-color: #4744d6;
}
